---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-10">Scalable Data Layer for Reactive Applications</h1>
		<p class="mb-4 text-base">
			<span class="font-bold">Scalable -</span> FusionState empowers the industrial development of large-scale
			distributed systems. It streamlines the adoption of proven architectural patterns like CQRS and
			reduces time to market without compromising on quality.
		</p>
		<p class="mb-4 text-base">
			<span class="font-bold">Data Layer -</span> FusionState is designed as a layer on top of the popular
			key-value store, <a href="https://www.foundationdb.org/" target="_blank" class="cactus-link"
				>FoundationDB</a
			>. This layer aggregates CDC streams from multiple data sources into a single consolidated,
			multi-model data store.
		</p>
		<p class="mb-4 text-base">
			<span class="font-bold">Reactive -</span> FusionState simplifies the development of reactive, real-time
			applications. Clients subscribe to queries and receive notifications on relevant database updates.
		</p>
	</section>
</PageLayout>
