---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-10">Scalable data layer for reactive applications</h1>
		<p class="mb-4 text-base">
			<span class="font-bold">Scalable -</span> FusionState supports the industrial development of large-scale
			distributed systems. It simplifies the adoption of proven patterns like CQRS and helps you move
			fast without sacrificing quality.
		</p>
		<p class="mb-4 text-base">
			<span class="font-bold">Data Layer -</span> FusionState is built as a layer on top of the popular
			key-value store <a href="https://www.foundationdb.org/" target="_blank" class="cactus-link"
				>FoundationDB</a
			>. You can combine CDC streams from differencet sources into one consolidated multi-model data
			store.
		</p>
		<p class="mb-4 text-base">
			<span class="font-bold">Reactive -</span> FusionState makes it easy to build reactive and real-time
			applications. Clients can subscribe to keys or queries and get notified on relevant database changes.
		</p>
	</section>
</PageLayout>
